<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule .*\.(sql|zip|gz)$ - [F,L]
    <FilesMatch "\.(sql|zip|gz)$">
        Require all denied
    </FilesMatch>
</IfModule>

<IfModule !mod_rewrite.c>
    <FilesMatch "\.(sql|zip|gz)$">
        Require all denied
    </FilesMatch>
</IfModule>

Options -Indexes
